<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>SuperPowers</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/77b2fa8649.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/superPowersStyle.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" th:href="@{home}">SuperHeroTracker</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{sightings}">Sightings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{locations}">Locations </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{organizations}">Organizations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{supers}">Supers</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{powers}">Super Powers <span class="sr-only">(current)</span> </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <h1 id="header" class="jumbotron"><i class="fas fa-fist-raised"></i>Super Powers</h1>
        </header>    
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <table class="table table-bordered table-striped" >
                        <thead>
                            <tr>
                                <th>Power Name</th>
                                <th>Supers With This Power</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="superPower : ${superPowersList}">
                                <td> <span th:text="${superPower.name}" </span> </td>
                                <td> 
                                    <p th:if="${#lists.isEmpty(superPower.superPersons)}">No Supers With This Power</p>
                                    <p th:each="superPerson : ${superPower.superPersons}" th:text="${superPerson.name}" </p>
                                </td>
                                <td><a data-toggle="modal" data-target="#modal-edit" th:attr="data-target='#modal-edit'+${superPower.spwId}" ><i class="fa fa-edit" aria-hidden="true"></i></a></td>
                        <div class="modal modal-edit fade" th:id="modal-edit+${superPower.spwId}" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5>Edit Super Power</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <fieldset>
                                            <form action="editSuperPower" method="POST">
                                                <input type="hidden" name="powId" th:value="${superPower.spwId}">
                                                <label>Name</label>
                                                <input type="text" name="powerName" placeholder= "Enter Super Power Name" required="" class="form-control input-md" th:value="${superPower.name}">

                                                <input type="submit" value="Edit Super Power" class="btn btn-success pull-right">
                                            </form>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <td><a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${superPower.spwId}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                        <div class="modal modal-warning fade" th:id="modal-warning+${superPower.spwId}" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header alert alert-danger">
                                        <h5>Delete Super Power</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Are you sure want to delete this Super Power?</h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                                        <a th:href="@{/deleteSuperPowers(id=${superPower.spwId})}" ><button class="btn btn-danger">Delete</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
                ​
                <div class="col-lg-4">
                    ​
                    <div class="verticalLineBreak"></div>
                    <h2><i class="fas fa-fist-raised"></i>Add Super Powers</h2>
                    <fieldset>
                        <form action="addNewSuperPower" method="POST">
                            <label>Super Power Name</label>
                            <input type="text" name="powerName" placeholder= "Enter Super Power Name" required="" class="form-control input-md">
                            <hr/>
                            <input type="submit" value="Submit!" class="btn btn-primary pull-right">
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
        <footer>
            <div id="jumbotronFooter" class="jumbotron footer">

                <div class="footer-copyright text-center py-3"><img id="footerImg" src="footerImages/footer.png" width="1000"><br>2019 Stephen Corey Jhoan</div>
            </div>

        </footer>
        <!-- link cdn to bootstrap, jquery, popper -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" 
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

    </body>
    ​
</html>