<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Superhero Sightings!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
        body{   
          padding-top: 60px;    
        }   
      </style>
</head>
<body>
<div class="container">
            <div class="row m-4">
                <div class="col text-center border border-dark">
                    <h1><a href="/" class="text-dark">Heroes & Villains</a></h1>
                </div>
            </div>
            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <a href="supers" class="btn btn-outline-primary btn-lg">Heroes & Villains</a>
                </div>
                <div class="col text-center m-3">
                    <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
                </div>
            </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
                <table class="table table-bordered table-striped" id="superTable">
                <thead>
                <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Orientation</th>
                <th>Powers</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="superPerson : ${superPersons}">
                        <td th:text="${superPerson.superId}"></td>
                        <td th:text="${superPerson.name}"></td>
                        <td th:text="${superPerson.description}"></td>
                        <td th:text="${superPerson.isVillain}"></td>
                        <td>
                                <a href="#"><i class="fa fa-trash"></i></a>
                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
                <form class="form-horizontal" id="">
                        <fieldset>
                        
                        <!-- Form Name -->
                        <legend></legend>
                        
                        <!-- Text input-->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="name">Name</label>  
                          <div class="col-md-4">
                          <input id="name" name="name" type="text" placeholder="" class="form-control input-md">
                            
                          </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="description">Description</label>  
                          <div class="col-md-4">
                          <input id="description" name="description" type="text" placeholder="" class="form-control input-md">
                            
                          </div>
                        </div>
                        
                        <!-- Text input-->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="orientation">Orientation</label>  
                          <div class="col-md-4">
                          <input id="orientation" name="orientation" type="text" placeholder="" class="form-control input-md">
                            
                          </div>
                        </div>
                        
                        <!-- Select Basic -->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="powers">Powers</label>
                          <div class="col-md-4">
                            <select id="powers" name="powers" class="form-control">
                              <option value="1"></option>
                              <option value="2"></option>
                              <option value="3"></option>
                              <option value="4"></option>
                            </select>
                          </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                        <label class="col-md-4 control-label" for="submit"></label>
                        <div class="col-md-4">
                            <button id="submit" name="submit" class="btn btn-primary">Submit</button>
                        </div>
                        </div>
                        
                        </fieldset>
                        </form>
                        <div class="modal" tabindex="-1" role="dialog" id="editSuperModule">
                                <div class="modal-dialog" role="document">                     
                                  <div class="modal-content">                     
                                    <div class="modal-header">                     
                                      <h5 class="modal-title">Edit Hero/Villain</h5>                     
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">                      
                                        <span aria-hidden="true">&times;</span>                     
                                      </button>                      
                                    </div>                      
                                    <div class="modal-body">                     
                                        <form class="form-horizontal" id="editSuperPerson">                      
                                            <fieldset>
                      
                                            
                      
                                            <!-- Form Name -->                     
                                            <!-- <legend>Form Name</legend> -->                     
                                              <input type="hidden" name="superId" id="editSuperId">                     
                                            <!-- Text input-->                     
                                            <div class="form-group">                     
                                              <label class="col-md-4 control-label" for="title">Name</label>                       
                                              <div class="col-md-4">                      
                                              <input id="editName" name="name" type="text" placeholder="" class="form-control input-md" required="">                                                
                      
                                              </div>                      
                                            </div>
                                                 <!-- Text input-->

                      <div class="form-group">
                            <label class="col-md-4 control-label" for="description">Description</label>      
                            <div class="col-md-4">
                            <input id="editDescription" name="director" type="text" placeholder="" class="form-control input-md" required="">
    
                              
    
                            </div>
                          </div>
    
                          
    
                          <!-- Text input-->   
                          <div class="form-group">   
                            <label class="col-md-4 control-label" for="orientation">Orientation</label>  
                            <div class="col-md-4">   
                            <input id="editOrientation" name="orientation" type="text" placeholder="" class="form-control input-md" required="">
       
                            </div>   
                          </div>
    
                          
    
                          <!-- Select Basic -->   
                          <div class="form-group">   
                            <label class="col-md-4 control-label" for="powers">Powers</label>    
                            <div class="col-md-4">    
                              <select id="editPowers" name="powers" class="form-control">    
                                <option value=""></option>    
                                <option value=""></option>   
                                <option value=""></option>    
                              </select>    
                            </div>    
                          </div>
    
                          
    
                          <!-- Button -->
    
                          <div class="form-group">    
                            <label class="col-md-4 control-label" for="submit"></label>    
                            <div class="col-md-4">    
                              <button id="editSubmit" name="submit" class="btn btn-primary">Submit</button>    
                            </div>    
                          </div>                                  
                          </fieldset>    
                          </form>    
                  </div>   
                  <div class="modal-footer">   
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>   
                  </div>    
                </div>

        </div>
    </div>
</div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
